/* h2 { */
/*   color: red; */
/* } */

/* .page_group { */
/* 	 border: dotted; */
/* 	 background-color: red; */
/* } */

/* .context { */
/* 	 background-color: green; */
/* } */

.main {
	 margin-left: auto;
	 margin-right: auto;
	 max-width: 700px;
}

