<div>
  <div *ngFor="#result of results">
	 <div *ngIf="result"> 
		Request Site: {{result.site}} <br>
		Matches:      {{result.indices.length}} <br>
		Page Length:  {{result.page.length}}
	 </div>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	 <input id="sample3" class="mdl-textfield__input" type="text" [value]="primary" (input)="primary = $event.target.value" autofocus>
	 <label class="mdl-textfield__label" for="sample3">Primary</label>
  </div>
  <br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	 <input id="sample4" class="mdl-textfield__input" type="text" [value]="secondary" (input)="secondary = $event.target.value" autofocus>
	 <label class="mdl-textfield__label" for="sample4">Secondary</label>
  </div>
  <br>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="getSearch()">Search</button>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="getId()">Get</button>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="print()">Print</button>
</div>
